<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AgateLib" version="2.0.39.16003" targetFramework="net46" />
  <package id="AgateLib.OpenGL" version="2.0.39.16003" targetFramework="net46" />
  <package id="AgateLib.Platform.WinForms" version="2.0.39.16003" targetFramework="net46" />
  <package id="AgateLib.SDL" version="2.0.39.16003" targetFramework="net46" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="OpenTK" version="1.1.1589.5942" targetFramework="net451" />
</packages>